@font-face {
    font-family: 'Cascadia Code';
    src: url(/fonts/CascadiaCode.ttf) format('truetype'), url(/fonts/CascadiaCode.woff2) format('woff2');
}

html {
    background-color: rgb(36, 37, 39);
}

* {
    font-family: 'Cascadia Code';
}

::selection {
    background-color: rgb(221, 216, 216);
    color: rgb(46, 46, 41);
}

h3 {
    font-size: 21.5px;
}

.socials {
    text-align: center;
    padding-top: 20px;
}

.socials a {
    margin-right: 5px;
    /* padding-bottom: 2px; */
    /* border-bottom: 1px solid royalblue; */
    font-size: 17.8px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(248, 248, 101);
    /*rgb(250, 250, 79)*/
    color: rgb(46, 46, 41);
    border-radius: 10px;
    /* border: 2px solid rgb(31, 22, 56); */
    transition-duration: 0.5s;
}

p {
    font-size: 18px;
}

.pfp {
    border-radius: 50%;
    height: 156px;
    /*140*/
}

.user {
    padding-top: 80px;
    text-align: center;
}

.status {
    background-color: rgb(36, 37, 39);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 8px solid rgb(36, 37, 39);
    height: 23px;
    margin-left: -50px;
}

.about-me,
.name,
p {
    color: rgb(221, 216, 216);
}

.about-me-para {
    padding-left: 43px;
    padding-right: 43px;
}

@media only screen and (max-width: 600px) {

    .pfp {
        height: 140px;
    }

    p {
        font-size: 18.8px;
    }

    a i {
        margin-right: 19.6px;
    }

    .socials a {
        display: block;
        font-size: 19.3px;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
        padding: 13px 22px;
        text-align: left;
        width: 232px;
    }
}

.projects {
    padding-top: 160px;
}

h1 {
    padding-left: 80px;
    color: rgb(221, 216, 216);
    font-size: 32px;
}

@media screen and (max-width: 600px) {
    .projects h1, .contact h1 {
        padding-left: 0;
        text-align: center;
    }

    .contact .input-email {
        margin-top: 30px;
        margin-left: auto;
    }

    .contact .input-message {
        margin-top: 10px;
    }

    .contact form .input-message, .contact form .input-name, .contact form .input-email {
        width: 320px;
    }
}

.cards {
    padding-top: 85px;
}

.card-1 {
    float: left;
    margin-left: 14rem;
    margin-right: 7px;
    background-color: rgb(50, 51, 53);
    padding-top: 23px;
    padding-right: 30px;
    padding-left: 30px;
    width: 17rem;
    border-radius: 23px;
}

.card-2 {
    float: right;
    margin-right: 14rem;
    background-color: rgb(50, 51, 53);
    padding-top: 23px;
    padding-right: 30px;
    padding-left: 30px;
    width: 17rem;
    border-radius: 25px;
}

.card-1,
.card-2 {
    padding-bottom: 18px;
    box-shadow: 0 8px 23px rgb(30, 30, 30);
}

.project-img {
    max-width: 100%;
    height: auto;
    transform: scale(1.12);
    border-radius: 11px;
    transition-duration: 0.4s;
}

.language-cpp {
    height: 22px;
    background-color: rgb(70, 71, 75);
    padding: 5px 5px;
    border-radius: 50%;
}

.language-html {
    font-size: 22px;
    background-color: rgb(70, 71, 75); /* 80, 80, 80*/
    padding: 7px 9px;
    border-radius: 50%;
}

.language-css {
    font-size: 22px;
    background-color: rgb(70, 71, 75); /* 80, 80, 80*/
    padding: 7px 9px;
    border-radius: 50%;
}

.language-js {
    font-size: 22px;
    background-color: rgb(70, 71, 75); /* 80, 80, 80*/
    padding: 7px 8px;
    border-radius: 50%;
}

.tippy-box[data-theme~="custom"] {
    color: white;
    background-color: rgb(70, 71, 75);
}

.tippy-box[data-theme~='custom'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: rgb(70, 71, 75);
}

.tippy-box[data-theme~='custom'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: rgb(70, 71, 75);
}

.tippy-box[data-theme~='custom'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: rgb(70, 71, 75);
}

.tippy-box[data-theme~='custom'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: rgb(70, 71, 75);
}

.language-cpp,
.language-html,
.language-css,
.language-js,
.lang-p {
    vertical-align: middle;
}

.language-css,
.language-html,
.language-js {
    color: rgb(221, 216, 216);
}

.projects h4 {
    color: rgb(221, 216, 216);
    font-size: 1.5rem;
}

.project-description {
    margin-top: -10px;
    padding-left: 0px;
}

.project-description, .lang-p {
    color: rgb(205, 201, 201);
    font-size: 16px;
}

.projects p, .projects h4 {
    margin-left: -14px;
}

.card-button {
    background-color: rgb(250, 250, 79);
    border-radius: 10px;
    color: rgb(46, 46, 41);
    display: block;
    margin-top: 22px;
    margin-left: -16px;
    width: 171px;
    text-align: center;
    /*margin-right: auto;*/
    padding: 10px 66px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.contact {
    padding-top: 520px;
}

@media  screen and (max-width: 600px) {
    .contact {
        padding-top: 165px;
    }
}

.contact h4 {
font-size: 1.5rem;
}

.contact form {
    padding-top: 45px;
}

.contact form .input-message {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.input-name,
.input-email {
    caret-color: rgb(248, 248, 101);
    padding: 10px 15px;
    border-radius: 14px;
    background-color: rgb(36, 37, 39);
    outline: none;
    color: rgb(221, 216, 216);
    font-size: 13pt;
    border: 2px solid rgb(248, 248, 101);
    width: 235px;
}

.input-name {
    margin: auto;
}

.input-email {
    margin-left: 15px;
}

.input-message {
    margin-top: 10px;
    outline: none;
    border: 2px solid rgb(248, 248, 101);
    caret-color: rgb(248, 248, 101);
    background-color: rgb(36, 37, 39);
    border-radius: 14px;
    color: rgb(221, 216, 216);
    padding: 9px 14px;
    resize: vertical;
    font-size: 13pt;
    width: 529px;
    min-height: 24px;
}

.submit {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 300px;
}

.submit button {
    padding: 10px 14px;
    color: rgb(46, 46, 41);
    border-radius: 15px;
    border: 2px solid rgb(248, 248, 101);
    background-color: rgb(248, 248, 101);
    font-size: 12pt;
    cursor: pointer;
}

.footer {
    text-align: center;
}

.footer footer,
.footer a {
    color: rgb(145, 142, 142);
}

.footer a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    .card-1 {
        margin-bottom: 27px;
    }

    .card-1,
    .card-2 {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

}