@font-face {
    font-family: 'Cascadia Cpde';
    src: url(/CascadiaCode.ttf);
}

html {
    background-color: rgb(36, 37, 39);
}

* {
    font-family: 'Cascadia Code';
}

h3 {
    font-size: 21.5px;
}

h1 {
    color: rgb(221, 216, 216);
}

.socials {
    text-align: center;
    padding-top: 20px;
}

.socials a {
    margin-right: 5px;
    /* padding-bottom: 2px; */
    /* border-bottom: 1px solid royalblue; */
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(250, 250, 79);
    color: rgb(46, 46, 41);
    border-radius: 10px;
    /* border: 2px solid rgb(31, 22, 56); */
    transition-duration: 0.5s;
}

p {
    font-size: 18px;
}

.pfp {
    border-radius: 50%;
    height: 156px; /*140*/
}

.user {
    text-align: center;
    padding-top: 50px;
}

.status {
    margin-left: -50px;
    border: 6px solid rgb(36, 37, 39);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 20px;
    background-color: rgb(36, 37, 39);
}

.about-me,
.name,
p {
    color: rgb(221, 216, 216);
}

@media only screen and (max-width: 600px) {

    .pfp {
        height: 140px;
    }

    p {
        padding-right: 43px;
        padding-left: 43px;
        font-size: 18px;
    }

    .socials a {
        display: block;
        width: 200px;
        margin-bottom: 9px;
        font-size: 19px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding: 13px 22px;
    }
}
